/** @format */

body {
	background: rgba(146, 238, 183, 0.668);
}

.btn{
	display: flex;
	gap:4rem;
}

h1{

	backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);

}

.container {
	display: flex;
	gap: 2rem;
}

.short,
.long,
.start,
.stop {
	backdrop-filter: blur(16px) saturate(180%);
	background-color: rgba(87, 200, 130, 0.7);
	border-radius: 12px;
	border: 1px solid rgba(255, 255, 255, 0.125);
}

.timerImg {
	background-color: white;
	width:10rem;
	height: 10rem;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-radius:10rem;
	font-size: x-large;
}

#timer{
	padding-top: 3.5rem;
}
