/** @format */

body {
	background: #92eeb7aa;
}

.btn {
	display: flex;
	gap: 4rem;
}

h1 {
	backdrop-filter: blur(16px) saturate(180%);
	background-color: rgba(255, 255, 255, 0.75);
	border-radius: 12px;
	border: 1px solid rgba(255, 255, 255, 0.125);
	text-align: center;
	padding: 0px;
	margin-bottom: 0.8rem;
}

.container {
	display: flex;
	gap: 2rem;
	padding-bottom: 1rem;
}

.start:hover,.stop:hover,.btn2:hover{
	transform: scale(1.5);
	cursor: grab;
}


.btn1 {
	display: flex;
	justify-content: space-around;
	gap: 1.5rem;
	width: 100%;
	padding-top:1.5rem;
}
.start, .stop, .btn2{
cursor: pointer;
}

.timerImg {
	background-color: green;
	width: 10rem;
	height: 10rem;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-radius: 10rem;
	font-size: 2rem;
	margin: auto;
	color: white;
	font-family: 'Monoton', cursive;
}

#timer {
	padding-top: 3.5rem;
}
