/** @format */

body {
	background: rgba(146, 238, 183, 0.668);
	
}

.btn {
	display: flex;
	gap: 4rem;
}

h1 {
	backdrop-filter: blur(16px) saturate(180%);
	background-color: rgba(255, 255, 255, 0.75);
	border-radius: 12px;
	border: 1px solid rgba(255, 255, 255, 0.125);
	text-align: center;
	padding: 0px;
	margin-bottom: 0.8rem;
}

.container {
	display: flex;
	gap: 2rem;
	padding-bottom: 1rem;
}

.btn{
	backdrop-filter: blur(16px) saturate(180%);
	background-color: rgba(87, 200, 130, 0.7);
	border-radius: 12px;
	border: 1px solid rgba(255, 255, 255, 0.125);
	padding: 0.4rem;
	width: 100%;
	font-family: monospace;
	font-weight: bold;
}
.btn1{
	display: flex;
	justify-content: space-around;
	gap: 1.5rem;
	width: 100%

}
.start, .stop, .btn2{
cursor: pointer;
}

.timerImg {
	background-color:green;
	width: 10rem;
	height: 10rem;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-radius: 10rem;
	font-size: 2rem;
	margin: auto;
	color: white;
	font-family: 'Monoton', cursive;
}

#timer {
	padding-top: 3.5rem;
}
